.container{

 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: repeat, auto;


}

.container{

  margin-bottom: 5%;
}

h1{

 grid-row: 1/2;
 grid-column: 1/2;


}

#h21{

  grid-row: 2/3;
  grid-column: 1/2;

}

#ul1{

 grid-row: 3/4;
 grid-column: 1/2;

}

#h22{

  grid-row: 4/5;
  grid-column: 1/2;

}

#ul2{
  grid-row: 5/6;
  grid-column: 1/2;




}


footer{

  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;

}

.f00ter{

 grid-row: 1/2;
 grid-column: 1/2;

}

a{

  grid-row: 1/2;
  grid-column: 2/3;

}

.line{

grid-column: 1/3;

}
