body{
 background-color: black;
}

footer{

  color: #E3DFCC;
  font-family: 'Raleway';
  font-size: 22px;
}

h1{

  color: #E3DFCC;
  font-family: tangier, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;

}

h2{

  color: #E3DFCC;
  font-family: 'Raleway';
  font-size: 35px;
}

h3{

  color: #E3DFCC;
  font-family: 'Raleway';
  font-size: 30px;

}

p{

  color: #E3DFCC;
  font-family: 'Raleway';
  font-size: 25px;

}

li{

  color: #E3DFCC;
  font-family: 'Raleway';
  font-size: 25px;


}

/* Navigationen på toppen av sidan */
.topnav {
  background-color: rgb(42, 42, 42);
  overflow: hidden;
  font-family: cursive;
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
}

/* Karta till restaurangen */
#gmap_canvas{
.mapouter{position:relative;text-align:right;height:1000px;width:1000px;}
href="https://www.embedgooglemap.net">embed map in email
.gmap_canvas {overflow:hidden;background:none!important;height:1000px;width:1000px;}
}

/* Style */

.topnav a {
  float: left;
  color: #E3DFCC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: tangier, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;

}

}

/* När man håller musen på knappen */

.topnav a:hover {
  background-color: #E3DFCC;
  color: white;
  width: 100px;
}

/* Den sidan man är på */

.topnav a.active {

  background-color:#E3DFCC;
  color: black;
  width: 120px;
}

.matratter{

  height:50em;
}

* {box-sizing:border-box}

.container{

 color: #E3DFCC;

}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Göm bilderna som standard */
.mySlides {
  display: none;
}

/* Nästa & förra knappar */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Placera "nästa knappen" till höger */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* När man placerar musen där, lägg till en svart bakgrund med lite transparens-skillnad */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Texten under bildspelet där man informeras om vad som är på bilden */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Nummer som förklarar vilken bild man är på */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Prickarna som förklarar vilken bild man är på */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Den pricken man är på är i en annan färg */
.active, .dot:hover {
  background-color: #717171;
}

[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }

/* Svart text */
  .text{
color:black;
  }

/* När den "fadear" så går det lite "smooth" :)*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*detta är css:en för google mappen*/
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* textinformation*/
 .cooltext{
  color: #E3DFCC;
  font-size: 30px;
}

/*information om bakgrund*/
.line{
  background-color: #E3DFCC;
  height: 2px;
}

/*informatin om texten i länkarna*/
.uno{
 text-decoration: none;
 list-style-type: none;
 text-align: left;
}

 #ul1{

  list-style-type: none;

}

#ul2{

 list-style-type: none;

}

#logo{
   height: 100px;
}

#textlogo{
  height: 100px;
  justify: ;
  margin-left: 160px;
}

#finresturang{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#boka{
 width: 100%;
}

@media (max-width: 480px){

  #finrestaurang{

    height: 300px;
  }
}

#link{

  text-decoration: none;
  color: #E3DFCC;
  font-family: tangier, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  margin-top: 13%;

}
